body {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #737373;
}

h2 {
	font-weight: normal;
	font-size: 2em;
}

.logo {
	margin-left: 10%;
	float: left;
}

.nav {
	float: left;
	clear: right;
	font-size: 3em;
	text-transform: uppercase;
	padding-left: 80px;
	word-spacing: 40px;
	text-align: right;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.body-img {
	margin-left: 10%;
	margin-right: 10%;
}

.p1 {
	width: 33%;
	margin-left: 100px;
	float: left;
	padding-left: 1px;
	padding-right: 30px;	
	position: relative;
}


.p2 {
	width: 33%;
	float: left;
	clear: right;
	padding-left: 61px;
	padding-right: 20px;
	position: relative;
}

ul.nav {
	list-style: none;
	text-align: center;
	font-weight: bold;
}

ul.nav li {
	display: inline;
}

ul.nav a {
	text-decoration: none;
	color: #737373;
}

ul.nav a:hover {
	text-decoration: none;
	border-bottom: 3px solid;
}

@media (max-width:700px) {
	
	.container {
		width: 100%;
	}

	.logo, .nav, .p1, .p2 {
		float: none;
		margin: 0;
		padding: 0;
	}

	.p1, .p2 {
		width: 100%;
	}

	ul.nav {
		text-align: left;
	}

	ul.nav li {
		display: block;
	}

	.body-img {
		display: none;
	}
}

















